@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

// font
$font-family: 'Plus Jakarta Sans', sans-serif;
$toolbar: white;
$white: #ffffff;
$textPrimary: #2a3547;

//sidebar
$sidenav-desktop: 270px !default;
$header-height: 70px !default;
// layout
$boxedWidth: 1200px;


$border-radius: 7px;
