<div class="container">
    <h2>Nav History</h2>
    <div class="form">
        <div class="form-item">
            <a>
                <input type="text" readonly id="scheme" value="All">
            </a>
            <label for="scheme">Scheme</label>
            <i class="fa fa-caret-down"></i>
        </div>
        <div class="form-item">
            <a>
                <input type="text" readonly id="fund" value="All">
            </a>
            <label for="fund">Fund</label>
            <i class="fa fa-caret-down"></i>
        </div>

        <div class="form-item">
            <input type="date" name="fromdate" id="fromdate">
            <label for="from">From</label>
        </div>

        <div class="form-item">
            <input type="date" name="todate" id="todate">
            <label for="to">To</label>
        </div>

    </div>
</div>