th {
    border-top: 1px solid #e2e8f0;
    border-left: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    border-right: 1px solid #e2e8f0;
    border-collapse: collapse;
  }
  td {
    
    border-left: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    border-right: 1px solid #e2e8f0;
    border-collapse: collapse;
    text-align: center;
    font-weight: 600;
  }