<mat-toolbar class="topbar">
  <span class="flex-1-auto"></span>
  <button mat-icon-button aria-label="Notifications">
    <i-tabler class="d-flex" name="bell" matBadge="1" matBadgeColor="primary"></i-tabler>
  </button>

  

 
  <!-- <a mat-flat-button color="primary" class="d-flex justify-content-center">
    <i-tabler class="routeIcon" name="lock" matListItemIcon></i-tabler>
    <span class="hide-menu">{{ 'Login'}}</span>
  </a> -->

  <button
    mat-flat-button
    color="primary"
    href="https://adminmart.com/product/modernize-angular-admin-dashboard/"
    target="_blank"
    class="d-flex justify-content-center"
  >
    Login
  </button>

  <!-- <a mat-flat-button color="primary" class="d-flex justify-content-center">
    <i-tabler class="routeIcon" name="user-plus" matListItemIcon></i-tabler>
    <span class="hide-menu">{{ 'Register'}}</span>
  </a> -->
  <span class="flex-1-auto-btn"></span>
  <button
    mat-flat-button
    color="primary"
    href="https://adminmart.com/product/modernize-angular-admin-dashboard/"
    target="_blank"
    class="d-flex justify-content-center"
  >
  Register
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
  <!-- ./assets/images/logos/dark-logo.svg" -->
    <img
      src="./assets/images/profile/user-1.jpg"
      class="rounded-circle object-cover"
      width="35"
    />
  </button>

  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Profile
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Account
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler
          name="list-check"
          class="icon-18 d-flex"
        ></i-tabler></mat-icon
      >My Task
    </button>

    <div class="p-x-12 m-t-12">
      <a
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar>