<mat-toolbar class="topbar">
  <button mat-icon-button aria-label="Notifications">
    <i-tabler class="d-flex" name="bell" matBadge="1" matBadgeColor="primary"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

 
  <a mat-flat-button color="primary" class="d-flex justify-content-center">
    <i-tabler class="routeIcon" name="lock" matListItemIcon></i-tabler>
    <span class="hide-menu">{{ 'Login'}}</span>
  </a>

  <a mat-flat-button color="primary" class="d-flex justify-content-center">
    <i-tabler class="routeIcon" name="user-plus" matListItemIcon></i-tabler>
    <span class="hide-menu">{{ 'Register'}}</span>
  </a>
</mat-toolbar>