<div class="card">
    <h5>Nav History</h5>
    <p-tabView>
        <p-tabPanel header="Today">
            <div class="grid">
                <div class="col-12">
                    <div class="card">
                        <p-table #dt1 [value]="customers3" rowGroupMode="subheader" groupRowsBy="representative.name"
                            sortField="representative.name" (onSort)="onSort()" sortMode="single"
                            responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px" [globalFilterFields]="['fundname','scheme.name']" styleClass="p-datatable-gridlines">
                            <ng-template pTemplate="caption">
                                <div class="flex justify-content-between flex-column sm:flex-row">
                                    <span class="p-input-icon-left mb-2">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" #filter (input)="onSchemeFilter(dt1, $event)" placeholder="Search Scheme" class="w-full"/>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th rowspan="2">S.No</th>
                                    <th rowspan="2">Scheme Name</th>
                                    <th colspan="2">10-09-2024 </th>
                                    <th colspan="2">11-09-2024</th>
                                </tr>
                                <tr height="40">
                                    <th>Nav Rate</th>
                                    <th>%</th>
                                    <th>Nav Rate</th>
                                    <th>%</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                                <tr pRowGroupHeader *ngIf="rowGroupMetadata[customer.scheme.name].index === rowIndex">
                                    <td colspan="6" style="min-width: 200px;">
                                        <span class="font-bold ml-2">{{customer.scheme.name}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{rowIndex}}
                                    </td>
                                    <td>
                                        <span class="image-text">{{customer.fundname}}</span>
                                    </td>
                                    <td>
                                        {{customer.previousrate}}
                                    </td>
                                    <td>
                                        0.01 <i class="pi pi-arrow-down" style="color: red;"></i>
                                    </td>
                                    <td>
                                        {{customer.currentrate}}
                                    </td>
                                    <td>
                                        0.02 <i class="pi pi-arrow-up" style="color: green;"></i>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8" class="font-bold ml-2">No Scheme found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Yesterday">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
        </p-tabPanel>
        <p-tabPanel header="Customize">
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa
                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
                et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                minus.
            </p>
        </p-tabPanel>
    </p-tabView>
</div>