<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo-dark.svg" alt="logo">
        <span>SHAFIQ</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu">
        <button class="p-link">
            <i class="pi pi-bell text-3xl" pBadge value="2"></i>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
    </div>
    
</div>
